/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
  h1 {
    font-size: 50px;
    letter-spacing: 10px;
  }

  h2 {
    font-size: 70px;
  }

  header a {
    font-size: 20px;
  }

  .container {
    padding: 0 50px;
  }

  .profile-wrapper p{
    padding: 10px 35px 10px 0;
  }

  .explain {
    flex-wrap: wrap;
  }

  .explain li {
    width: 100%;
    padding: 10px 10px;
  }

  .explain .box1 {
    order: 1;
  }

  .explain .box2 {
    order: 2;
  }
}

@media all and (max-width: 670px) {
  body {
    background: cover;
  }

  h1 {
    font-size: 25px;
    letter-spacing: 5px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 27px;
  }

  h4 {
    font-size: 20px;
  }

  p {
    font-size: 15px;
  }

  .profile-wrapper, .works-wrapper, .skill-wrapper, .contact-wrapper{
    margin: 0 auto;
    padding-top: 50px;
  }

  header {
    height: 50px;
  }

  .header-list a {
    font-size: 10px;
    line-height: 50px;
  }

  .container {
    padding: 0;
  }

  .top-wrapper {
    height: 500px;
    margin-bottom: -100px;
    text-align: center;
  }
  
  .top-wrapper h1{
    color: white;
    line-height: 500px;
  }

  .profile-wrapper p{
    padding-top: 10px;
    padding-right: 15px;
  }

  .work {
    padding: 10px 5px;
  }

  .contact-wrapper p {
    padding: 0 5px;
  }

  .footer-list {
    text-align: center;
    margin: 0;
  }
}