@charset "UTF-8";

@font-face {
	font-family: 'BarcelonaStreets';
  src: url('fonts/BarcelonaStreets.otf')
}

@font-face {
	font-family: 'SprayLettersotf';
  src: url('fonts/SprayLettersotf.otf')
}

@font-face {
	font-family: 'NextCustom';
  src: url('fonts/NextCustom.ttf')
}

@font-face {
	font-family: 'SisterSpray';
  src: url('fonts/SisterSpray.ttf')
}

@font-face {
	font-family: 'Urban_slick';
  src: url('fonts/Urban_slick.ttf')
}

@font-face {
	font-family: 'AttackGraffiti';
  src: url('fonts/AttackGraffiti.ttf')
}

@font-face {
	font-family: 'adrip';
  src: url('fonts/adripttf.ttf')
}
/* CSS Document */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  background-image: url(images/wall.jpg);
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.profile-wrapper, .works-wrapper, .skill-wrapper, .contact-wrapper{
  margin: 100px 0;
}

h1 {
  font-family: 'SisterSpray';
  font-weight: normal;
  font-size: 70px;
  letter-spacing: 20px;
  color: blueviolet !important; 
}

h2 {
  font-family: 'AttackGraffiti';
  font-weight: normal;
  font-size: 80px;
  letter-spacing: 10px;
  text-align: center;
  color: white !important;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 25px;
}

p {
  font-size: 20px;
}

li {
  list-style: none;
}

iframe {
  width: 100%;
  max-width: 100%;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.clear {
  clear: left;
}

header {
  background-color: blueviolet;
  color: white;
  position: fixed;
  height: 75px;
  width: 100%;
  text-align: center;
}

.header-list {
  display: flex;
}

.header-list li {
  flex: auto;
}

.header-list a {
  color: white;
  font-family: 'NextCustom';
  text-decoration-line: none;
  display: block;
  line-height: 75px;
  transition: all 0.5s;
}

.header-list a:hover {
  background-color: white;
  color: blueviolet;
}

.top-wrapper {
  height: 700px;
  margin-bottom: -200px;
  text-align: center;
}

.top-wrapper h1{
  color: white;
  line-height: 700px;
}

.profile-wrapper {
  padding-top: 100px;
  margin-top: -80px;
}

.profile-contents {
  background-color: white;
}

.profile-image{
  float: left;
  width: 20%;
}

.profile-wrapper p{
  padding-top: 50px;
  padding-right: 60px;
  float: left;
  width: 80%;
}

.works-wrapper {
  padding-top: 100px;
  margin-top: -80px;
}

.work {
  margin-bottom: 50px;
  padding: 10px 20px;
  background-color: white;
}

.explain {
  display: flex;
  flex-wrap: wrap;
}

.explain li {
  padding: 20px 20px;
  flex: auto;
  width: 50%;
}

.Bot img {
  width: 50%;
  float: left;
}

.skill-contents {
  background-color: white;
}

table {
  margin: 0 auto;
  width: 30%;
  border-collapse: collapse;
  border-spacing: 0;
}

table tr {
  border-bottom: solid 1px #eee;
}

table tr, th {
  text-align: center;
}

.contact-wrapper {
  text-align: center;
}

.contact-wrapper p {
  background-color: white;
}

footer {
  background-color: black;
  height: 50px;
}

.footer-list {
  display: flex;
  margin: 0 20%;
}

.footer-list li {
  flex: auto;
  line-height: 50px;
}

.footer-list a {
  color: white;
}

.footer-list a:hover {
  color: darkgray;
}